body {
  background: linear-gradient(
    to bottom,
    rgba(131, 234, 177, 0.7),
    rgba(75, 124, 243, 0.7)
  );
}
section {
  margin-top: 93px !important;
}

.displayNone {
  display: none;
}

.headline_text {
  font-size: 70px;
  font-weight: 900;
  line-height: 78px;
  text-align: left;
  color: rgba(255, 255, 255, 0.6);
  text-shadow: 0px 4px 8px rgba(118, 79, 240, 0.3);
}

.text {
  color: #42366b !important;
  font-weight: bold;
  text-decoration: none;
}
.text:hover {
  color: white !important;
}
.textCard {
  color: #42366b !important;
  font-size: 1.2rem !important;
}

.cardLogos {
  color: white;
}

/* Banner */
.banner-container {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 0 auto;
}
.back-video {
  margin: 0;
  width: 100%;
  height: 50vh;
  object-fit: cover;
  display: block;
}
.banner-container:before {
  content: "";
  position: absolute;
  background: linear-gradient(
    to bottom,
    rgba(131, 234, 177, 0.3),
    rgba(75, 124, 243, 0.3)
  );
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/* BADGES */
.badges {
  font-weight: 600;
  padding: 0.2rem 1.2rem !important;
  border: 1px solid;
  border-radius: 10rem !important;
  cursor: pointer;
  opacity: 0.4;
  background-color: rgba(255, 255, 255, 0.4);
  transition: background-color 0.3s ease;
}

.badges.selected {
  opacity: 1;
  background-color: rgba(255, 255, 255, 0.7);
}

.badges:hover:not(.selected) {
  background-color: rgba(255, 255, 255, 0.5);
}

.btn-group {
  font-size: 24px;
  font-weight: 900;
  line-height: 48px;
  height: 48px;
  gap: 0px;
  opacity: 0.4px;
}

.play-button-landing {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  border-radius: 50%;
  padding: 20px;
  cursor: pointer;
  transition: opacity 0.3s;
}

.play-button-landing i {
  color: #000;
}

.play-button-landing:hover {
  opacity: 1;
}

/* CARDS */

.disabled-link {
  color: #888;
  pointer-events: none;
  text-decoration: none;
}

.bg-needToKnow {
  background-color: rgba(153, 70, 243, 0.4) !important;
}
.bg-discussion {
  background-color: rgba(75, 124, 243, 0.4) !important;
}
.bg-progress {
  background-color: rgba(131, 234, 177, 0.4) !important;
}

.card-width {
  width: 23% !important;
  padding: 0 !important;
}
.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  backdrop-filter: blur(0.5rem);
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.8) 100%
    );
  border-top: 1px solid #ffffff66;
  overflow: hidden;
  width: 100%;
  height: 40%;
  padding: 1rem;
}
.radius-card {
  border-radius: 1rem !important;
}
.radius-text {
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.fade-effect {
  --mask: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 1) 0,
      rgba(0, 0, 0, 1) 40%,
      rgba(0, 0, 0, 0) 95%,
      rgba(0, 0, 0, 0) 0
    )
    100% 50% / 100% 100% repeat-x;

  -webkit-mask: var(--mask);
  mask: var(--mask);
}

#seeMore {
  background-color: transparent;
  border: none;
  width: 167px;
  height: 24px;
  gap: 0px;
  opacity: 0px;
  color: white;
  height: 100px;
  width: 100%;
  text-align: center;
  font-weight: bolder;
}

.bg-blank {
  box-shadow: 0px 8px 16px 0px #42356b1a;
  border: 2px solid;

  border-image-source: linear-gradient(
    180deg,
    #ffffff 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

/* CONTACT SECTION */

.contactCard {
  width: Fixed (1, 520px) px;
  height: Hug (192px) px;
  padding: 32px 120px 32px 48px;
  gap: 200px;
  border-radius: 16px 0px 0px 0px;
  border: 2px 0px 0px 0px;
  opacity: 0px;
  background: #ffffff66 !important;
  border: 2px solid;

  border-image-source: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.4) 0%,
    rgba(255, 255, 255, 0) 100%
  ) !important;
  box-shadow: 0px 8px 16px 0px #42356b1a !important;
}

.contactCard {
  padding: 1rem 2rem;
  border-radius: 10px;
}
.buttonContact {
  text-align-last: center;
  align-content: center;
}
.btn-contact {
  padding: 8px 56px 8px 56px;
  border-radius: 5px;
  border: 2px 0px 0px 0px;
  background: #9946f3;
  color: white;
  font-weight: bold;

  border-image-source: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.4) 0%,
    rgba(255, 255, 255, 0) 29.17%
  );
  box-shadow: 0px 8px 16px 0px #42356b1a;
}

.buttonContact {
  text-align-last: right;
}

/* SIGN-IN SECTION */
.passwordContainer {
  position: relative;
}
.fa-eye,
.fa-eye-slash {
  position: absolute;
  top: 68%;
  right: 4%;
  color: gray;
}

.form-outline {
  width: 100%;
}

/* PROFILE PAGE SECTION */

.image-overlay img {
  position: relative;
  display: inline-block;
}

.editOverlayImg {
  cursor: pointer;
  position: absolute;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  border: 0px transparent;
  padding: 1.1rem 9rem;
  top: 47.5%;
  left: 18.25%;
  z-index: 1;
  background: linear-gradient(
    180deg,
    rgba(153, 70, 243, 0.5) 0%,
    rgba(66, 53, 107, 0.5) 100%
  );
  color: white;
  display: none;
}

.image-overlay:hover .editOverlayImg {
  display: block;
}

#profilePage input[type="text"],
#profilePage input[type="email"],
#profilePage input[type="password"] {
  position: relative;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid !important;
  border-radius: 0rem;
  color: #fff; /* Text color */
  font-size: 1.2rem;
}

#profilePage input::placeholder {
  color: #fff;
}

#profilePage input[type="password"]::placeholder {
  /* Customize password placeholder to show 7 stars */
  content: "*******";
}

.input-wrapper {
  position: relative;
}

.input-wrapper input:hover {
  border: 1px solid !important;
  border-radius: 7px;
}

.editOverlay {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  opacity: 0;
  transition: opacity 0.3s;
  background: linear-gradient(
    180deg,
    rgba(153, 70, 243, 0.5) 0%,
    rgba(66, 53, 107, 0.5) 100%
  );
  color: white;
  padding: 0.57rem;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  border: 0;
}

.input-wrapper:hover .editOverlay {
  opacity: 1;
}

/* Progress bar */
.progress-container {
  background: linear-gradient(
      0deg,
      rgba(218, 218, 218, 0.5),
      rgba(218, 218, 218, 0.5)
    ),
    linear-gradient(
      180deg,
      rgba(75, 124, 243, 0.2) 0%,
      rgba(131, 234, 177, 0.2) 100%
    );
  width: 100%;
  height: 5%;
  top: 776px;
  left: 200px;
  gap: 0px;
  border-radius: 4px 0px 0px 0px;
  border: 1px 0px 0px 0px;
  opacity: 0px;

  border: 1px solid;

  border-image-source: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.5) 0%,
    rgba(255, 255, 255, 0) 69.79%
  );
}

.progress-bar {
  width: 40%;
  height: 1vh;
  top: 776px;
  left: 200px;
  gap: 0px;
  border-radius: 4px 4px 4px;
  border: 3px 0px 0px 0px;
  opacity: 0px;

  background: rgba(131, 234, 177, 0.7) !important;

  border-image-source: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.7) 0%,
    rgba(255, 255, 255, 0) 40.94%
  );

  box-shadow: 0px 2px 16px 0px rgba(131, 234, 177, 0.8);
}

/* profile badge section */

.badge-container {
  position: relative;
  cursor: pointer;
}

.badgeImg {
  width: 210px;
  height: 184px;
  gap: 0px;
  opacity: 0px;
  transition: transform 0.3s ease;
}

.badge-container:hover .badgeImg {
  transform: scale(1.05);
}

.badge-text {
  position: absolute;
  top: 60%;
  bottom: 0;
  left: 5%;
  width: 100%;
  text-align: center;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: center;

  color: rgba(255, 255, 255, 1);
  font-size: 13px;
  padding: 5px;
  box-sizing: border-box;

  text-shadow: 0px 3px 12px 0px rgba(66, 53, 107, 0.3);
}

.badge-container:hover .badge-text {
  color: #9946f3 !important;
  font-weight: bold;
}

/* LANDING PAGE SECTION */

/* Play video */
section#landingPage {
  position: relative;
  max-width: 100%;
}
.play-button-landing {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70px;
  height: 70px;
  background-color: rgba(255, 255, 255, 0.7);
  color: rgba(0, 0, 0, 0.2);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.banner-container:hover .play-button-landing {
  opacity: 1;
}

/* Log-in  */

.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}
.divider:after,
.divider:before {
  background-color: #6b58f1 !important;
}
.btn.btn-primary.btn-lg.btn-block {
  background-color: white !important;
  color: black;
  border: 1px solid #6b58f1 !important ;
}
input {
  border: 1px solid #6b58f1 !important ;
}

/* Password */
form i {
  margin-left: -30px;
  cursor: pointer;
}

/* Modal Popup Styles */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-body {
  align-content: center;
}

/* Modal Content/Box */
.modal-content {
  position: absolute;
  width: 50% !important;
  height: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  gap: 80px;
  border-radius: 20px !important;
  background-color: transparent !important;

  background: linear-gradient(
    180deg,
    rgba(153, 70, 243, 0.5) 0%,
    rgba(66, 53, 107, 0.5) 100%
  );
}
.modalHeader {
  font-family: Montserrat;
  font-size: 5rem;
  font-weight: 900;
  line-height: 88px;
  text-align: center;
  color: rgba(255, 255, 255, 1);
}
.modalParagraph {
  font-family: Montserrat;
  font-size: 2rem;
  font-weight: 500;
  line-height: 56px;
  text-align: center;

  color: rgba(255, 255, 255, 1);
}
.modalBtn:hover {
  background: linear-gradient(
    180deg,
    rgba(153, 70, 243, 0.8) 0%,
    rgba(66, 53, 107, 0.7) 100%
  );
}

/* Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  background: rgba(255, 255, 255, 0.6);
  padding: 0.2rem 1.5rem !important;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* MODAL Card pop-up */

.modal-content-video {
  background: rgba(255, 255, 255, 0.8) !important;
}
.modal-content-welcome {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  border: none;
  border-radius: 1rem;
  padding: 2rem;
  color: white;
  cursor: pointer;
  background-color: transparent !important;

  background: linear-gradient(
    180deg,
    rgba(153, 70, 243, 0.5) 0%,
    rgba(66, 53, 107, 0.5) 100%
  );
}
.custom-card {
  position: relative;
  display: block;
  background: white;
  border-radius: 0.5rem;
}

.play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  background: rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 50%;
  padding: 1.5rem;
  color: white;
  cursor: pointer;
}

/* Play button inside modal */
.playVideoTag {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  background: rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 50%;
  padding: 1.5rem;
  color: white;
  cursor: pointer;
}

/* Comment section styles */
.comment-section {
  max-height: 400px;
  overflow-y: auto;
}

/* Media query */

@media screen and (max-width: 767px) {
  .badge {
    display: flex;
  }
  .headline_text {
    font-size: 50px;
    line-height: 55px;
    text-align: center;
  }
  .logInForm {
    margin-bottom: 4rem;
  }
}

@media screen and (min-width: 767px) {
}

/* Discussion board */

.discussionCards {
  height: 100%;
}
