/* Font */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* Resets */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}
body {
  background-color: #fcd232;
}
h1,
h2,
h3,
p,
ul {
  margin-top: 0;
}

img {
  display: block;
  max-width: 100%;
}
a {
  text-decoration: none;
  color: inherit;
}

/* Navigation */
nav {
  position: relative;
  z-index: 99;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: #fcd232;
  font-weight: bold;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
}
nav img {
  width: 60px;
  height: 60px;
  margin: 1rem;
}
.menu {
  display: flex;
  font-size: 0.8rem;
  text-align: center;
  align-items: center;
}

.menu a:not(:last-child) {
  margin: 0 2rem;
  color: #302f38;
  transition: 0.3s;
}
.menu a:hover {
  color: #eb3b3b;
}
.menu a button {
  background-color: #eb3b3b;
  border-color: transparent;
  color: white;
  padding: 0.4rem 0.6rem;
  border-radius: 0.2rem;
  cursor: pointer;
  transition: 0.3s;
  margin-right: 1rem;
}
.menu button:hover {
  color: #302f38;
}

/* Hamburger menu */

.hamburger {
  appearance: none;
  outline: none;
  border: none;
  background: none;
  cursor: pointer;

  display: contents;
  width: 2rem;
  height: 2rem;
  margin: 0.5rem 1rem;
}

.hamburger span {
  color: black;
  font-size: 2.5em;
  transition: 0.3s;
  margin-right: 1rem;
  transform: scaleX(-1);
}
.hamburger span:hover {
  color: #eb3b3b;
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 98;

  padding-top: 6rem;
  opacity: 0;
  transform: translateY(-100%);
  background-color: #302f38;
  color: white;
  transition: 0.3s;
}
.mobile-menu.is-open {
  opacity: 1;
  transform: translateY(0);
}

.mobile-menu a {
  display: block;
  padding: 1.5rem;
  color: white;
  font-size: 1.25rem;
  transition: 0.3s;
}
.mobile-menu button {
  display: block;
  padding: 0.8rem 1.1rem;
  background-color: #eb3b3b;
  color: white;
  border: none;
  border-radius: 0.4rem;
  font-size: 1rem;
  transition: 0.3s;
  cursor: pointer;
}
.mobile-menu a:not(:last-child):hover {
  color: #eb3b3b;
  background-color: #4b4b4d;
}
.mobile-menu button:hover {
  color: #302f38;
}

/* Main page */

.main-container {
  width: 100%;
  margin: 0 auto;
}
.wrap-container {
  width: 80%;
  margin: 0 auto;
}

.form-container .headline {
  text-align: center;
  color: #302f38;
  font-size: 2rem;
  margin: 0 auto;
  padding: 7.85rem 0rem;
}
.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.form-control {
  display: flex;
  flex-direction: column;
  justify-content: start;
  flex-basis: 48.5%;
  margin-bottom: 1rem;
  margin-right: 1rem;
}
.form-control label {
  margin-bottom: 0.5rem;
  font-weight: bold;
}
.form-control ::placeholder {
  margin-bottom: 0.5rem;
  font-style: italic;
}
.form-control input,
.form-control select {
  padding: 1.5rem;
  border-radius: 5px;
  border-style: hidden;
}
option {
  margin-top: 0.5rem;
  padding: 1.6rem;
}

.form-control button {
  margin: 0;
  padding: 1.5rem;
  background-color: #eb3b3b;
  color: white;
  font-size: 1rem;
  text-transform: uppercase;
  border-radius: 5px;
  border-style: hidden;
  cursor: pointer;
  margin-top: 1.75rem;
}
.form-control button:hover {
  background-color: #4b4b4d;
  color: #eb3b3b;
  transition: color 0.5s ease-out, background 0.4s ease-out;
  font-weight: bold;
}
.select-box {
  width: 400px;
  min-height: 64px;
  display: flex;
  flex-direction: column;
  font-weight: bold;
}
.select-box .options-container {
  background-color: white;
  color: #302f38;
  max-height: 0;
  width: 100%;
  opacity: 0;
  transition: all 0.4s;
  border-radius: 5px;
  overflow: hidden;

  order: 1;
}
.selected {
  background-color: white;
  border-radius: 5px;
  margin-bottom: 16px;
  color: #302f38;
  position: relative;

  order: 0;
}

.selected::after {
  content: "";
  background: url(../images/arrow.svg);
  background-size: contain;
  background-repeat: no-repeat;

  position: absolute;
  height: 100%;
  width: 32px;
  right: 20px;
  top: 17px;

  transition: all 0.4s;
}

.select-box .options-container.active {
  max-height: 280px;
  opacity: 1;
  overflow-y: scroll;
}
.select-box .options-container.active + .selected::after {
  transform: rotateX(180deg);
  top: -17px;
}

.select-box .options-container::-webkit-scrollbar {
  width: 5px;
  background-color: white;
  border-radius: 0 5px 5px 0;
}
.select-box .options-container::-webkit-scrollbar-thumb {
  background: #525861;
  border-radius: 0 8px 8px 0;
}

.select-box .option,
.selected {
  padding: 24px;
  cursor: pointer;
}
.select-box label {
  padding: 0;
  cursor: pointer;
}
.select-box .option:hover {
  background-color: whitesmoke;
  transition: color 0.3s ease-out, background 0.4s ease-out;
}
.select-box .option .radio {
  display: none;
}

/* Validation */
.errors {
  display: block;
  color: #eb3b3b;
  margin-top: 5px;
}
.error {
  transition: 0.2s;
  box-shadow: 0 0 15px 0 rgba(255, 36, 0, 1);
}

/* Popup message */
.popup {
  width: 400px;
  background: white;
  border-radius: 5px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.1);
  text-align: center;
  padding: 0 30px 30px;
  color: #302f38;
  visibility: hidden;
  transition: transform 0.4s, top 0.4s;
}
.open-popup {
  visibility: visible;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
}

.popup img {
  width: 100px;
  margin-top: -50px;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transform: translateX(120%);
}
.popup h2 {
  font-size: 38px;
  font-weight: 500;
  margin: 30px 0 10px;
}
.popup button {
  width: 100%;
  margin-top: 50px;
  padding: 10px 0;
  background: #eb3b3b;
  color: white;
  border: 0;
  outline: none;
  font-size: 18px;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}
.popup button:hover {
  background: red;
  color: white;
}

/* Footer */
.heart-container {
  padding: 0.7rem 0;
  background-color: #302f38;
  color: white;
  text-align: center;
  font-weight: 600;
  margin-top: 3.8rem;
}
.fa-heart {
  color: red;
}

/* Media queries */

@media screen and (max-width: 768px) {
  nav {
    justify-content: space-between;
  }
  .menu {
    display: none;
  }
  .form-container {
    margin-top: 0;
  }
  .form {
    margin-top: 2rem;
    margin-right: 0;
  }
  .form-container .headline {
    padding-top: 2rem;
    padding-bottom: 0rem;
    margin: 0 auto;
    font-size: 1.1rem;
  }
  .form-control button {
    margin-top: 0.75rem;
  }
  .form-control {
    flex-basis: 100%;
    margin-right: 0;
  }
  .wrap-container {
    width: 90%;
    margin: 0 auto;
  }
}

@media screen and (min-width: 769px) {
  .mobile-menu,
  .hamburger {
    display: none;
  }
  .form-control {
    flex-basis: 48%;
    margin-right: 1rem;
  }
}
